{% extends "base.html" %}
{% block content %}

<form action="/classes/{{classes.id}}/classes" method="POST">
    <div>
        <label for="name"></label>
        <br>
        <input type="text" id="name" name="name" placeholder="Enter Class Name" required autofocus>

        <label for="gym capacity"></label>
        <input type="number" id="size" name="size" placeholder="Capactiy" required autofocus>

        <label for="Gym Time"></label>
        <br>
        <input type="datetime-local" id="time" name="time" placeholder="Time" required autofocus>

    </div>
    <button type="submit">Add Class</button>
</form>
{% endblock %}