{% extends 'base.html' %}
{% block content %}
<h1>Booking</h1>

<nav>
    <ul>
        <!-- <p class="btn-wrapper"> -->
        <li>
            <a href="/bookings/add">Booking Class</a>
        </li>

        <div>
            {% for booking in all_bookings %}

            <li>
                <a href="/bookings/{{booking.id}}">
                    <p> {{booking.member.first_name}} {{booking.member.last_name}} -
                        {{booking.classes.name}}</p>
                </a>
            </li>

        </div>
        {% endfor %}

    </ul>

</nav>





{% endblock %}